mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 400px;
}

mat-form-field {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.row mat-form-field {
  flex: 1;
}

.clear-link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}
